/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

<<<<<<< HEAD
=======
* {
  box-sizing: border-box; }

>>>>>>> 706f27cfb6fc7d539f5a1873f8e2ca2f706a53b4
body {
  font-family: 'Roboto', sans-serif;
  background: #140931; }

<<<<<<< HEAD
.container {
  max-width: 87.5rem;
  margin: 0 auto; }

/* ========================================
HEADER
=========================================== */
=======
>>>>>>> 706f27cfb6fc7d539f5a1873f8e2ca2f706a53b4
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
<<<<<<< HEAD
  padding: 1rem;
  position: absolute;
  z-index: 3; }
  header .logo {
    width: 12.5rem; }
=======
  padding: 15px;
  position: absolute;
  z-index: 3; }
  header .logo {
    width: 200px; }
>>>>>>> 706f27cfb6fc7d539f5a1873f8e2ca2f706a53b4
    header .logo img {
      width: 100%; }
  header nav {
    align-self: center; }
    header nav a {
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
<<<<<<< HEAD
      font-weight: 500;
      padding: 0 .65em; }

@media (max-width: 56.25rem) {
  header .logo {
    width: 11.25rem; }
    header .logo img {
      width: 80%; } }

@media (max-width: 37.5rem) {
  header .logo {
    width: 11.25rem; }
    header .logo img {
      width: 70%; }
  header nav a {
    font-size: 1rem;
    font-weight: 400;
    padding: 0 .65em; } }

@media (max-width: 32rem) {
  header .logo {
    width: 10rem; }
    header .logo img {
      width: 65%; }
  header nav a {
    font-size: .8rem; } }

@media (max-width: 27.25rem) {
  header .logo img {
    width: 60%; }
  header nav a {
    font-size: .75rem; } }

@media (max-width: 26.135rem) {
  header nav a {
    font-size: .62rem; } }

@media (max-width: 24rem) {
  header nav a {
    font-size: .5rem; } }

@media (max-width: 21.875rem) {
  header nav a {
    font-size: .39rem; } }

/* ========================================
  TOP-SECTION
=========================================== */
=======
      font-weight: 300;
      padding: 0 10px; }

>>>>>>> 706f27cfb6fc7d539f5a1873f8e2ca2f706a53b4
#top-section {
  position: relative;
  height: 100vh; }
  #top-section .bluredbg {
    background-image: linear-gradient(45deg, rgba(20, 9, 49, 0.7) 0%, rgba(23, 0, 35, 0.68) 16%, rgba(1, 63, 145, 0.6) 78%, rgba(1, 64, 147, 0.57) 79%, rgba(1, 64, 147, 0.19) 93%, rgba(114, 197, 241, 0) 100%), url("/img/Roselia-top.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
    filter: blur(25px) saturate(120%);
    position: absolute;
    z-index: 1; }
  #top-section .floating-img {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    z-index: 2; }
  #top-section .roselia-img {
    width: 80%; }
  #top-section img {
    width: 100%;
    filter: contrast(130%); }

<<<<<<< HEAD
@media (max-width: 53.125em) {
  #top-section .roselia-img {
    width: 83%; } }

@media (max-width: 43.75em) {
  #top-section .roselia-img {
    width: 85%; } }

@media (max-width: 37.5em) {
  #top-section .roselia-img {
    width: 88%; } }

@media (max-width: 21.875em) {
  #top-section .roselia-img {
    width: 92%; } }

/* ========================================
  BIO SECTION
=========================================== */
=======
.container {
  max-width: 1400px;
  margin: 0 auto; }

>>>>>>> 706f27cfb6fc7d539f5a1873f8e2ca2f706a53b4
#bio {
  display: flex;
  background: #2A2C62;
  position: relative;
  z-index: 3;
<<<<<<< HEAD
  padding: 6.25rem 0; }
  #bio .container {
    display: flex; }
    #bio .container p {
      color: white;
      line-height: 1.5;
      font-size: .9rem;
      width: 50%;
      padding: 0 3.125rem; }
    #bio .container .logo-centered {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 3.125rem;
      width: 50%; }
      #bio .container .logo-centered img {
        width: 45%; }

@media (max-width: 56.25rem) {
  #bio .container p {
    line-height: 1.7;
    width: 100%; }
  #bio .container .logo-centered {
    display: none; } }

@media (max-width: 37.5rem) {
  #bio {
    padding: 4rem 0; }
    #bio .container p {
      font-size: .9rem;
      width: 100%; } }

/* ========================================
  MEDIA SECTION
=========================================== */
#media {
  padding: 6.25rem;
  background-image: url("/img/roselia-top.png");
=======
  padding: 100px 0; }
  #bio .container {
    display: flex; }
  #bio p {
    color: white;
    line-height: 1.5;
    font-size: .9rem;
    width: 50%;
    padding: 0 50px; }
  #bio .logo-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0 50px; }
    #bio .logo-centered img {
      width: 45%; }

#media {
  padding: 100px;
  background-image: url("/img/Roselia intro.jpg");
>>>>>>> 706f27cfb6fc7d539f5a1873f8e2ca2f706a53b4
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  #media .title {
    background: #2A2C62;
    font-size: 1.1rem;
<<<<<<< HEAD
    font-weight: 400;
    text-transform: uppercase;
    padding: 1.25rem;
    text-align: center;
    width: 100%;
    max-width: 31.25rem;
    margin: 0 auto;
    color: white; }
  #media .videos {
    padding: 5rem 3.125rem 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 3.125rem 0; }
    #media .videos .video {
      border-radius: .25rem;
      margin: 0 1.25rem;
      overflow: hidden;
      height: 21.875rem;
      -webkit-box-shadow: 0px 6px 16px -3px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 6px 16px -3px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 6px 16px -3px rgba(0, 0, 0, 0.75); }
      #media .videos .video iframe {
        height: 100%; }

@media (max-width: 68.75rem) {
  #media .videos .video {
    height: 18.25rem; } }

@media (max-width: 62.5rem) {
  #media {
    padding: 6.25rem 0 3.125rem 0; }
    #media .videos .video {
      height: 17rem; } }

@media (max-width: 57.5rem) {
  #media .videos {
    display: grid;
    grid-template-columns: 1fr; }
    #media .videos .video {
      height: 21.875rem; } }

@media (max-width: 43.75rem) {
  #media .title {
    max-width: 21.875rem; }
  #media .videos .video {
    height: 21.875rem; } }

@media (max-width: 32rem) {
  #media .title {
    max-width: 18.75rem; }
  #media .videos .video {
    height: 17.5rem; } }

@media (max-width: 26.25rem) {
  #media .title {
    max-width: 17.5rem; }
  #media .videos .video {
    height: 13rem; } }

@media (max-width: 22.5rem) {
  #media .title {
    max-width: 15rem; }
  #media .videos {
    grid-gap: 1.6rem; }
    #media .videos .video {
      height: 13rem; } }

@media (max-width: 20rem) {
  #media .title {
    max-width: 14rem; }
  #media .videos .video {
    height: 11rem; } }

/* ========================================
  ALBUM SECTION
=========================================== */
=======
    font-weight: 300;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    color: white; }
  #media .videos {
    padding: 80px 50px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 50px; }
  #media .video {
    border-radius: 4px;
    overflow: hidden;
    height: 350px;
    -webkit-box-shadow: 0px 6px 16px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 16px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 16px -3px rgba(0, 0, 0, 0.75); }
    #media .video iframe {
      height: 100%; }

>>>>>>> 706f27cfb6fc7d539f5a1873f8e2ca2f706a53b4
#album {
  padding: 80px 0;
  position: relative; }
  #album .bluredbg {
    background-image: linear-gradient(45deg, #b640c7 0%, rgba(156, 98, 185, 0.98) 11%, rgba(156, 98, 185, 0.96) 21%, rgba(207, 176, 165, 0.86) 70%, rgba(207, 176, 165, 0.84) 78%, rgba(207, 176, 165, 0.82) 91%, #cfb0a5 98%, #ce6fcc 100%), url("/img/album-cover.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: blur(25px) saturate(120%);
    position: absolute;
    z-index: 1; }
  #album .container {
    display: flex;
    padding: 0 50px;
    position: relative;
    z-index: 3; }
    #album .container .info {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      #album .container .info .title {
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px; }
      #album .container .info .sub-title {
        font-size: 1.7rem;
        font-weight: 500;
        text-align: center;
        text-transform: uppecase;
        margin-bottom: 100px; }
      #album .container .info ul.singles {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 400px;
        margin-bottom: 80px; }
        #album .container .info ul.singles li {
          font-size: 1.5rem;
          font-weight: 400;
          text-align: center;
          margin-bottom: 20px; }
      #album .container .info .logos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        text-align: center; }
    #album .container .album-cover {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
    #album .container img {
      width: 50%; }

<<<<<<< HEAD
/* ========================================
  TOUR SECTION
=========================================== */
=======
>>>>>>> 706f27cfb6fc7d539f5a1873f8e2ca2f706a53b4
#tour {
  background: #35255c;
  position: relative;
  z-index: 4; }
<<<<<<< HEAD
  #tour .tour-dates {
=======
  #tour .tourdates {
>>>>>>> 706f27cfb6fc7d539f5a1873f8e2ca2f706a53b4
    background: #35255c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    padding: 5rem 0; }
    #tour .tour-dates .title {
=======
    padding: 80px 0; }
    #tour .tourdates .title {
>>>>>>> 706f27cfb6fc7d539f5a1873f8e2ca2f706a53b4
      text-align: center;
      color: white;
      text-transform: uppercase;
      font-size: 1.8rem;
<<<<<<< HEAD
      margin: 0 0 5rem; }
  #tour .dates {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.25rem; }
=======
      margin: 0 0 80px; }
  #tour .dates {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; }
>>>>>>> 706f27cfb6fc7d539f5a1873f8e2ca2f706a53b4
    #tour .dates li {
      color: white;
      font-size: 1.3rem; }
      #tour .dates li span {
<<<<<<< HEAD
        padding: 0 .5625rem; }
=======
        padding: 0 9px; }
>>>>>>> 706f27cfb6fc7d539f5a1873f8e2ca2f706a53b4
      #tour .dates li .city {
        font-weight: 700; }
      #tour .dates li .location {
        font-size: 1rem;
        font-weight: 300; }
      #tour .dates li .date {
        font-weight: 500;
        color: white; }

<<<<<<< HEAD
@media (max-width: 53.13rem) {
  #tour .dates {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-items: center; } }

@media (max-width: 37.5rem) {
  #tour .tour-dates {
    padding: 3rem 0; }
    #tour .tour-dates .title {
      margin: 0 0 2.5rem; }
  #tour .dates {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2.25rem; } }

/* ========================================
  FOOTER
=========================================== */
=======
>>>>>>> 706f27cfb6fc7d539f5a1873f8e2ca2f706a53b4
footer {
  position: relative;
  background: #2A2C62;
  z-index: 4;
  padding: 20px 0; }
  footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  footer img {
    max-width: 20%; }
  footer p {
    color: #f7f7f7; }
<<<<<<< HEAD

@media (max-width: 40.63rem) {
  footer p {
    font-size: .9rem; } }

@media (max-width: 40.63rem) {
  footer img {
    max-width: 25%;
    transform: translate(-0.5rem); }
  footer p {
    font-size: .8rem; } }
=======
>>>>>>> 706f27cfb6fc7d539f5a1873f8e2ca2f706a53b4
